<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="fa fa-arrows-alt" aria-hidden="true"></span> Studio411
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Accueil</a></li>
            <li><a href="/topWeek">Top semaine</a></li>
            <li><a href="/topMonth">Top mois</a></li>
            <li><a href="/top100">Top 100</a></li>
            <li><a href="/search">Rechercher</a></li>
        </ul>

    </div>
</nav>
